/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 1.0s;
     -moz-transition-duration: 1.0s;
      -ms-transition-duration: 1.0s;
       -o-transition-duration: 1.0s;
          transition-duration: 1.0s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, #site-header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, #site-header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Index Page Styles & Animations*/

* {
	z-index: 9;
}

.bg_start {
	top:0;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
}

@keyframes "colorfade" {
 0% {
    -webkit-filter: grayscale(100%);
 }
 10% {
    -webkit-filter: grayscale(100%);
 }
 100% {
    -webkit-filter: grayscale(0%);
 }

}

@-moz-keyframes colorfade {
 0% {
 }
 10% {
 }
 100% {
 }

}

@-webkit-keyframes "colorfade" {
 0% {
   -webkit-filter: grayscale(100%);
 }
 10% {
   -webkit-filter: grayscale(100%);
 }
 100% {
   -webkit-filter: grayscale(0%);
 }

}

@-ms-keyframes "colorfade" {
 0% {
 }
 10% {
 }
 100% {
 }

}

@-o-keyframes "colorfade" {
 0% {
 }
 10% {
 }
 100% {
 }

}

#banner,#feature {
	-webkit-animation: colorfade 8s 1;
	-moz-animation: colorfade 8s 1;
	-ms-animation: colorfade 8s 1;
	-o-animation: colorfade 8s 1;
	animation: colorfade 8s 1;
}

.colorfade {
	-webkit-animation: colorfade 8s 1;
	-moz-animation: colorfade 8s 1;
	-ms-animation: colorfade 8s 1;
	-o-animation: colorfade 8s 1;
	animation: colorfade 8s 1;
}

/* Colours */

body {
	background: #e7e6e1;
	color: #777;
}

#container:before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.6);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.6);
	box-shadow: 0px 0px 10px rgba(0,0,0,.6);
	z-index: 1;
}

a {
	color: #999;
}

em {
	color: #908486;
}

h1 {
	color: #343a3d;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
}

h1.category {
	text-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}

em a {
	color: #666;
}

em.background {
	color: #BBB;
}

#site-header {
	background-color: #fffefe;
}

#site-header h1 a{
	color:#1d2c1f;
}

nav {
	background: #fffefe;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06);
	color: black;
}

nav a {
	color: #4b4d4b;
}

a.event_title{
	color: #4b4d4b;
}

ul#filters {
	color: #ccc;
}

ul#filters p, ul#filters a{
	color: #777777;
}

#index h1 {
	color: #343a3d;
	text-shadow: -1px 2px 0 #E2E0DB;
}

#index h2 {
	color: #343a3d;
	text-shadow: -1px 2px 0 #E2E0DB;
}

#index p {
	-webkit-font-smoothing: antialiased;
	text-align: justify;
}

#banner {
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06);
}

.piece img {
}

footer {
	background-color: #343a3d;
}

/* Typography */

@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);

h1, h2, h3, h4 {
/* 	-webkit-font-smoothing: antialiased; */
}

body, input {
	font-family: "Gill Sans", arial, sans-serif;
	font-size: 24px;
	line-height: 31px;
}

ul li, p, em {
	font-size: 1em;
	font-style: normal;
	text-align: left;
	-webkit-font-smoothing: antialiased;
}

p i {
	font-style: italic;
}

h1 {
	font-size: 2em;
	line-height: 2em;
	font-weight: normal;
	text-transform: uppercase;
}

h2 {
	font-size: 1.2em;
	line-height: 1.619em;
	font-weight: normal;
	text-transform: uppercase;
}

nav a {
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	font-family: "Gill Sans", arial, sans-serif;
}

a {
	text-decoration: none;
}

#site-header h1 {
	font-size: 2em;
	line-height: 1em;
}

article h1 {
	font-size: 1.618em;
	line-height: 1em;
	text-transform: uppercase;
}

h1.page {
	font-size: 1.618em;
	line-height: 1em;
	text-transform: uppercase;
	margin-bottom: 2em;
}

#index #content h1 {
	font-size: 2.6em;
	line-height: 1.2em;
	text-align: center;
}

p {
	font: 24px/1.618em 'Enriqueta', Georgia, Times, "Times New Roman", serif;
}

#keywords {
	text-transform: capitalize;
}

ul#filters {
	font-family: 'Enriqueta', Georgia, Times, "Times New Roman", serif;
}

section#info h2 {
	margin-top: 1em;
}

section#info h2:nth-of-type(1) {
	margin-top: none;
}

ul#event_list {
	margin-top: 2em;
}

ul#event_list p {
	margin-top:0;
}

li.event {
	margin-bottom: 1.618em;
}

.size{
	font-size: .618em;
	float: left;
}

.event_title {
	text-transform: uppercase;
	font-family: "Gill Sans", arial, sans-serif;
}

/*----- Desktop Layout -----*/
@media screen 
and (min-width : 1025px) {

	/* Animations */

	@keyframes "fadein" {
	 0% {
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   	filter: alpha(opacity=0);
	   	opacity: 0;
	 }
	 40% {
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   	filter: alpha(opacity=0);
	   	opacity: 0;
	 }
	 100% {
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	   	filter: alpha(opacity=100);
	   	opacity: 1;
	 }
	
	}
	
	@-moz-keyframes fadein {
	 0% {
	   filter: alpha(opacity=0);
	   opacity: 0;
	 }
	 40% {
	   filter: alpha(opacity=0);
	   opacity: 0;
	 }
	 100% {
	   filter: alpha(opacity=100);
	   opacity: 1;
	 }
	
	}
	
	@-webkit-keyframes "fadein" {
	 0% {
	   filter: alpha(opacity=0);
	   opacity: 0;
	 }
	 40% {
	   filter: alpha(opacity=0);
	   opacity: 0;
	 }
	 100% {
	   filter: alpha(opacity=100);
	   opacity: 1;
	 }
	
	}
	
	@-ms-keyframes "fadein" {
	 0% {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   filter: alpha(opacity=0);
	   opacity: 0;
	 }
	 40% {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   filter: alpha(opacity=0);
	   opacity: 0;
	 }
	 100% {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	   filter: alpha(opacity=100);
	   opacity: 1;
	 }
	
	}
	
	@-o-keyframes "fadein" {
	 0% {
	   filter: alpha(opacity=0);
	   opacity: 0;
	 }
	 40% {
	   filter: alpha(opacity=0);
	   opacity: 0;
	 }
	 100% {
	   filter: alpha(opacity=100);
	   opacity: 1;
	 }
	
	}
	
	#index p,#index h1,#index h2,#index h3,#index h4,#index h5,#index hr,#index footer {
		-webkit-animation: fadein 10s 1;
		-moz-animation: fadein 10s 1;
		-ms-animation: fadein 10s 1;
		-o-animation: fadein 10s 1;
		animation: fadein 10s 1;
	}
	
	#index #site-header,#index nav {
		-webkit-animation: fadein 14s 1;
		-moz-animation: fadein 14s 1;
		-ms-animation: fadein 14s 1;
		-o-animation: fadein 14s 1;
		animation: fadein 14s 1;
	}

	@keyframes "fadeout" {
	 0% {
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	   	filter: alpha(opacity=100);
	   	opacity: 1;
	 }
	 66% {
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	   	filter: alpha(opacity=100);
	   	opacity: 1;
	 }
	 100% {
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   	filter: alpha(opacity=0);
	   	opacity: 0;
	 }
	
	}
	
	@-moz-keyframes fadeout {
	 0% {
	   filter: alpha(opacity=100);
	   opacity: 1;
	 }
	 66% {
	   filter: alpha(opacity=100);
	   opacity: 1;
	 }
	 100% {
	   filter: alpha(opacity=0);
	   opacity: 0;
	 }
	
	}
	
	@-webkit-keyframes "fadeout" {
	 0% {
	   filter: alpha(opacity=100);
	   opacity: 1;
	   display:inherit;
	 }
	 66% {
	   filter: alpha(opacity=100);
	   opacity: 1;
	 }
	 100% {
	   filter: alpha(opacity=0);
	   opacity: 0;
	   display: none;
	 }
	
	}
	
	@-ms-keyframes "fadeout" {
	 0% {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	   filter: alpha(opacity=100);
	   opacity: 1;
	 }
	 66% {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	   filter: alpha(opacity=100);
	   opacity: 1;
	 }
	 100% {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   filter: alpha(opacity=0);
	   opacity: 0;
	 }
	
	}
	
	@-o-keyframes "fadeout" {
	 0% {
	   filter: alpha(opacity=100);
	   opacity: 1;
	 }
	 66% {
	   filter: alpha(opacity=100);
	   opacity: 1;
	 }
	 100% {
	   filter: alpha(opacity=0);
	   opacity: 0;
	 }
	
	}
	
	.bg_start {
		-webkit-animation: fadeout 6s 1 normal forwards;
		-moz-animation: fadeout 6s 1 normal forwards;
		-ms-animation: fadeout 6s 1 normal forwards;
		-o-animation: fadeout 6s 1 normal forwards;
		animation: fadeout 6s 1 normal forwards;
	}


	/* Color */

	/* Typeography */
	
	h1.event_title {
		line-height: 1.618em;
		font-size: 1.618em;
		text-align: left;
	}

	/* Layout */
	
	#site-header {
		margin:0 auto 0;
		text-align: center;
		padding: 0;
		width: 100%;
		z-index: 10;
	}
	
	#site-header h1 {
		margin: 0 auto 0;
		text-align: center;
	}
	
	img#logo {
		width: 500px;
		height: auto;
		margin: 1.618em auto 0.618em;
		border: 10px solid #555;
	}
	
	nav {
		margin: 0 auto 0;
		text-align: center;
		padding-bottom: 0.4em;
		z-index: 10;
	}
	
	nav ol{
		clear: both;
		display: inline-block;
		margin: 0 auto 0;
		font-size: 0.79em;
	}
	
	nav ol li{
		list-style: none;
		display: inline;
		float: left;
		margin: 2px 1em 0px;
	}
	
	nav p {
		max-width: 720px;
		margin: 1em auto 0!important;
	}
	
	#event_list, event_list p {
		width:720px;
	}
	
	.commission img {
		max-width: 20em;
		height: auto;
		clear: none;
		float: left;
		margin: 0 1em 2em;
	}
	
	ul#filters {
		list-style: none;
	}
	
	ul#filters li {
		display: inline-block;
		margin: 0 auto 50px;
		font-size: 18px;
	}
	
	ul#filters li::after {
		content: " | "
	}
	
	ul#filters li:last-of-type::after {
		content: ""
	}

	ul#wallpapers {
		list-style: none;
		display: inline-block;
	}
	
	ul#wallpapers li {
		display: inline-block;
		margin: 0 auto 0;
		font-size: 18px;
		float: left;
	}

	ul#wallpapers li::after {
		content: " | ";
		padding:0 0.2em;
	}

	ul#wallpapers li:last-of-type::after {
		content: ""
	}

	#container {
		padding-bottom: 3em;
	}
	
	h1.category {
		margin: 0 auto 0.2em;
		padding: 46px 0 10px;
		border-bottom: 1px solid #ccc;
		max-width: 720px;
	}
	
	h1.event_title {
		margin: 0 auto 0.2em;
		padding: 46px 0 10px;
		border-bottom: 1px solid #ccc;
		max-width: 720px;
	}
	
	h2.category {
		margin: 0 auto 0.2em;
		padding: 46px 0 10px;
		border-bottom: 1px solid #ccc;
		max-width: 720px;
	}
	
	h1#project_title {
		margin-bottom: 50px;
	}
	
	body {
		padding: 0;
		text-align: center;
	}
	
	p {
		max-width: 720px;
		margin: 1em auto 0;
	}
	
	h1 {
		line-height: 2.677em;
	}
	
	h2 {
		max-width: 720px;
		margin: 0 auto 0;
		line-height: 1em;
		text-align: left;
	}
	
	#index h1 {
		margin: 50px auto 0;
		width: 720px;
		overflow: visible;
	}
	
	#index p {
		margin: 1em auto 0;
	}
	
	#description {
		margin: 50px auto 0;
		max-width: 720px;
		border-top: 1px solid #ccc;
	}

	.content{
	    z-index:10;
	    position:relative;
	}

	#banner {
		min-width: 100%;
		max-width: 100%;
	}

	#content {
		width: 960px;
		margin: 0 auto 0;
	}

	#pieces {
		margin: 0 auto 0;
	}

	.project-list {
		margin-bottom: 1em;
		display: inline-block;
	}

	li.piece {
		overflow: hidden;
		line-height: 0px;
		margin-bottom: 10px;
	}
	
	li.piece a {
		font-size: 0px!important;
		line-height: 0px!important;
		margin-top: -10px;
	}
	
	.piece img	{
		width: 308px;
		height: auto;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	}

	img.feature {
		width: auto;
		max-width: 900px;
		height: auto;
		max-height: 560px;
	}

	#media {
		text-align: center;
	}
	
	footer {
		width:100%;
		padding: 2em 0 2em;
	}
	
	footer p{
		padding: 0!important;
		margin: 0 auto 0!important;
	}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width: 568px) 
and (orientation : landscape) {
/* Styles */

	/* Colors */
	
	#container:before {
		content: "";
		position: fixed;
		top: -10px;
		left: 0;
		width: 100%;
		height: 10px;
		-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
		-moz-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
		box-shadow: 0px 0px 20px rgba(0,0,0,.8);
		z-index: 1;
	}

	nav {
		box-shadow: none;
	}

/* Typography */

	body {
		font-size: 16px;
	}
	
	p, ul, li {
		font-size: 1.2em;
		line-height: 1.4em;
/* 		padding-bottom: 1em; */
	}
	
	h1, h2 {
		font-size: 1.4em;
		line-height: 1.2em;
		font-weight: normal;
		text-transform: uppercase;
	}
	
	br {
		line-height: 2em;
	}
	
	nav ol li{
		font-size: 17px;
		line-height: 1.618em;
		text-align: center;
	}

	article {
		margin-bottom: 2em;
	}

	article p {
/* 		font-size: 21px; */
		text-align: justify;
		padding-bottom: 1em;
	}
	
	h1.category {
/* 		font-size: 26px; */
		text-align: center;
	}
	
	#index #content h1 {
		font-size: 1.4em;
		line-height: 2em;
		text-align: left;
	}
	
	#index p {
		-webkit-font-smoothing: antialiased;
		text-align: left;
		font-size: 1.3em;
	}


/* Layout */
	
	.bg_start {
		display:none;
	}
	
	body {
		width: 480px!important;
		margin: 0!important;
		padding: 0!important;
		overflow: hidden;
	}
	
	* {
		max-width: 100%;
	}
	
	html {
		margin: 0;
	}
	
	ul {
		list-style: none;
	}
	
	#site-header {
		padding: 0 0 0!important;
	}
	
	img#logo {
		width: 480px;
		height: auto;
		margin: 1em auto .618em;
		text-align: center;
	}
	
	nav {
		margin: -10px auto 0;
		padding: 0 0 0;
		text-align: center;
/* 		width: 100%; */
	}

	nav ol{
		clear: both;
		display: inline-block;
		margin: 0 auto 0;
		margin: 0 auto 0;
		text-align: center;
		width: 100%;
	}
	
	nav ol::before {
		font-size: 1.618em;
		content:"☰";
		color: #cecece;
		text-align: left;
		float: left;
/* 		width: 100%; */
		padding: 5px 0 0 10px;
		margin: 0;
	}
	
	nav ol li{
		list-style: none;
		margin: 0 0.3em 0;
		clear: both;
		display: block;
	}
	
	nav ol li.nav:last-of-type{
		list-style: none;
		margin: 0 0.3em 0.618em;
		clear: both;
	}
	
	.nav {
		display:none;
	}
	
	nav ol p{
		line-height: 0px;
		font-size: 0px;
		display: none;
	}
	
	.piece img {
		width: 458px!important;
		height: auto;
	}
	
	li.piece {
		width: 460px!important;
		margin: 0 10px 0 0!important;
		overflow: hidden;
	}
	
	ul.project-list {
		margin: 0 auto 0!important;
	}
	
	#content {
		max-width: 440px!important;
		margin: 0 20px 0!important;
	}
	
	img#feature{
		max-width: 440px!important;
		height: auto!important;
		margin: 1em 0 1em;
	}
}

/* iPhone 5 (landscape) ----------- */
@media (device-height : 568px) 
   and (device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2)
   and (orientation : landscape) {
	
	/* Typography */
	
	h1, h2 {
		font-size: 2.667em;
		line-height: 1em;
		font-weight: normal;
		text-transform: uppercase;
	}
	
	
	/* Layout */
	
	* {
		max-width: 100%;
	}
	
	html {
		width: 100%;
		overflow-x: hidden;
	}
	
	body {
		width: 568px!important;
		margin: 0!important;
		padding: 0!important;
	}
	
	img#logo {
		width: 480px;
		height: auto;
		margin: 1em auto .618em;
		text-align: center;
	}
	
	#container {
		width: 568px!important;
		margin: 0!important;
		padding: 0!important;
	}
	
	html {
		margin: 0;
	}
	
	ul {
		list-style: none;
	}
	
	#site-header h1 {
		margin: 0 auto 0;
		text-align: center;
	}
	
	nav {
		margin: 0 auto 0;
		text-align: center;
	}
	
	nav ol{
		clear: both;
		display: inline-block;
		margin: 0 auto 0;
		font-size: 0.79em;
	}
	
	nav ol li{
		list-style: none;
		display: inline;
		float: left;
		margin: 0 1em 22px;
	}

	p.category {
		margin: 10px auto 66px;
		padding: 46px 0 10px;
		border-bottom: 1px solid #a2a49a;
		max-width: 300px;
	}
	
	.piece img {
		width: 546px!important;
		height: auto;
	}
	
	.piece img {
		width: 458px!important;
		height: auto;
	}
	
	li.piece {
		width: 548px!important;
		margin: 0 10px 0 0!important;
		overflow: hidden;
	}
	
	ul.project-list {
		margin: 0 auto 0!important;
	}
	
	#content {
		width: 558px!important;
		margin: 0 0 0 10px!important;
	}


}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-device-width : 320px)
and (orientation : portrait) {
/* Styles */

/* Colors */
	
	#container:before {
		content: "";
		position: fixed;
		top: -10px;
		left: 0;
		width: 100%;
		height: 10px;
		-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
		-moz-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
		box-shadow: 0px 0px 20px rgba(0,0,0,.8);
		z-index: 1;
	}

	nav {
		box-shadow: none;
	}

/* Typography */

	body {
		font-size: 16px;
	}
	
	p, ul, li {
		font-size: 1.2em;
		line-height: 1.4em;
/* 		padding-bottom: 1em; */
	}
	
	h1, h2 {
		font-size: 1.4em;
		line-height: 1.2em;
		font-weight: normal;
		text-transform: uppercase;
	}
	
	br {
		line-height: 2em;
	}
	
	nav ol li{
		font-size: 17px;
		line-height: 1.618em;
		text-align: center;
	}

	article {
		margin-bottom: 2em;
	}

	article p {
		text-align: justify;
		padding-bottom: 1em;
	}
	
	h1.category {
/* 		font-size: 26px; */
		text-align: center;
	}
	
	#index #content h1 {
		font-family: "ff-tisa-web-pro",serif;
		font-size: 2em;
		line-height: 2.2em;
		text-align: justify;
		text-transform: capitalize;
	}

	h1.event_title {
		font-size: 1.4em;
		line-height: 1.2em;
		font-weight: normal;
		text-transform: uppercase;
		padding-top: 1em;
	}

	p.event_details {
		padding-bottom: 0!important;
	}
	
	p.event_details br{
		line-height: 0em;
		padding-bottom: 0!important;
	}
	
	div.event_details {
		margin: 0 auto 1.618em!important;
	}

	#index p {
		-webkit-font-smoothing: antialiased;
		text-align: left;
		font-size: 1.3em;
	}

	#event_details p {
		margin: 0;
		padding-bottom: .618em;
	}

/* Layout */

	.bg_start {
		display:none;
	}

	body {
		max-width: 479px;
		min-width: 100%;
		margin: 0 auto 0!important;
		padding: 0!important;
		overflow: hidden;
		overflow-x: hidden;
	}

	* {
/* 		max-width: 100%; */
	}

	html {
		margin: 0;
		overflow-x: hidden;
	}

	img#logo {
		width: 100%;
		height: auto;
		margin: 0 auto;
		text-align: center;
		z-index: 10;
	}
	
	ul {
		list-style: none;
	}
	
	#site-header {
		height: auto;
		padding: 0;
		z-index: 10;
	}
	
	#site-header a {
		line-height: 0px;
		font-size: 0px;
	}
	
	nav {
		margin: -10px auto 0;
		padding: 0 0 0;
		text-align: center;
		width: 100%;
	}

	nav ol{
		clear: both;
		display: inline-block;
		margin: 0 auto 0;
		margin: 0 auto 0;
		text-align: center;
		width: 100%;
	}
	
	nav ol::before {
		font-size: 1.618em;
		content:"☰";
		color: #cecece;
		text-align: left;
		float: left;
		width: 100%;
		padding: 5px 0 0 10px;
		margin: 0;
	}
	
	nav ol li{
		list-style: none;
		margin: 0 0.3em 0;
		clear: both;
		display: block;
	}
	
	nav ol li.nav:last-of-type{
		list-style: none;
		margin: 0 0.3em 0.618em;
		clear: both;
	}
	
	.nav {
		display:none;
	}
	
	nav ol p{
		line-height: 0px;
		font-size: 0px;
		display: none;
	}
	
	#banner {
		overflow-x: hidden;
		height:280px;
		width: 844px!important;
		text-align: center;
	}
	
	img#feature{
		max-width: 292px!important;
		height: auto!important;
		margin: 1em 0 1em;
	}

	img.thumbnail{
		max-width: 292px!important;
		height: auto!important;
		margin: 1em 0 1em;
	}
	
	.project-list {
		margin-top: 20px;
		margin-bottom: 1em;
		display: inline-block;
	}
	
	.piece img {
		width: 292px!important;
		height: auto;
	}
	
	li.piece {
		width: 300px!important;
		margin: 0 100px 20px 0!important;
		overflow: hidden;
		line-height: 0px;
	}
	
	#content {
		width: 292px!important;
		margin: 0 auto 1em!important;
	}
	
	ul#wallpapers {
		list-style: none;
		display: inline-block;
	}
	
	ul#wallpapers li {
		display: inline-block;
		margin: 0 auto 0;
		font-size: 18px;
		float: left;
	}

	ul#wallpapers li::after {
		content: " | ";
		padding:0 0.2em;
	}

	ul#wallpapers li:last-of-type::after {
		content: ""
	}

	ul#event_list {
		line-height: 1em;
		
	}

	#event_list li {
		padding-bottom: 1em; 
		border-bottom: 1px solid #cecece;
	}

	#event_list li br{
		line-height: 1.618em;
	}

	#event_details p br{
		line-height: 1.618em;
	}

	h1.event_title {
		text-align: left!important;
	}

	.event_title {
		font-size: 1em;
		line-height: 1em;
		text-align: center;
	}

	footer p {
		width: 292px!important;
		margin: 0 14px 0 14px!important;
		text-align: justify;
		padding: 1em 0 1.4em;
	}
	
	h1.category {
		margin: 0.618em 0 0.3em;
	}
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */

/* Typography */

	#index #content h1 {
		font-size: 2em;
		line-height: 1.2em;
		text-align: center;
	}

/* Layout */

	.bg_start {
		display: none;
	}

	body {
		margin: 0!important;
		padding: 0!important;
		overflow: hidden;
	}
	
	html {
		margin: 0;
	}
	
	#site-header {
		margin:0 auto 0;
		text-align: center;
		padding: 1.6em 0 1.618em;
		width: 100%;
		z-index: 10;
	}
	
	#site-header h1 {
		margin: 0 auto 0;
		text-align: center;
	}
	
	nav {
		margin: 0 auto 0;
		text-align: center;
		z-index: 10;
	}
	
	nav ol{
		clear: both;
		display: inline-block;
		margin: 0 auto 0;
		font-size: 0.79em;
	}
	
	nav ol li{
		list-style: none;
		display: inline;
		float: left;
		margin: 0 1em 22px;
	}

	#index h1 {
		margin: 0 auto 0.618em;
		padding: 46px 0 10px;
		border-bottom: 1px solid #ccc;
		max-width: 720px;
	}

	h1.category {
		margin: 0 auto 0.2em;
		padding: 46px 0 10px;
		border-bottom: 1px solid #ccc;
		max-width: 720px;
	}

	h2.category {
		margin: 0 auto 0.2em;
		padding: 46px 0 10px;
		border-bottom: 1px solid #ccc;
		max-width: 720px;
	}

	p.category {
		margin: 10px auto 66px;
		padding: 46px 0 10px;
		border-bottom: 1px solid #a2a49a;
		max-width: 300px;
		text-align: center;
	}

	.piece img {
		height: auto;
	}
	
	li.piece {
		margin: 0 0 0 0;
		overflow: hidden;
	}
	
	ul.project-list {
		margin: 0 auto 0;
	}
	
	#content {
		margin: 0 auto 0;
	}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

	body {
		width: 1024px;
	}

	.piece img {
		max-width: 310px;
	}
	
	li.piece {
		width: 310px;
	}

	#content {
		width: 960px!important;
		overflow-x:hidden;
	}
	
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
/* Styles */

	body {
		width: 768px;
	}

	.piece img {
		max-width: 310px;
	}
	
	li.piece {
		width: 310px;
	}

	#content {
		width: 640px!important;
	}

}