---
title: Home
layout: home
---
	<body id="index">
		<div class="bg_start">
	  	</div>
		<div id="container">
			<article class="content">
				{% include header.html %}
				<div id="content" class="home col eleven">
					<div>
						<h1>
							Brock Elliot Cagann
						</h1>
						
						<p>
						Graduating from high school in 2002, Brock went to Arizona State University to study his lifelong love of architecture but the summer before junior year he was in a near-fatal car accident.  Required to stay in Indianapolis for therapy and discouraged with what architecture school had become, Brock attended Herron school of art and rediscovered his second love, painting.
						</p>
				</div>
			</article>
		</div>
		{% include footer.html %}
		<script src="/docs/js/iphone.js"></script>
	</body> 
</html>

<!--
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
-->