---
title: Brock Cagann
---

<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>{{ site.name }}</title>
		<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
		<link rel="stylesheet" href="./css/main.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/docs/css/slabtext.css" />
		<meta name="viewport" content="user-scalable=no, width=device-width" />
		<script src="/docs/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="//use.typekit.net/bpk3kip.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-40271603-1', 'brockcagann.com');
		  ga('send', 'pageview');
		
		</script>
		<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body id="index">
		<div class="bg_start">
	  	</div>
		<div id="container">
			<article class="content">
				{% include header.html %}
				<div id="content" class="home col eleven">
					<div>
						<h1>
							Brock Elliot Cagann
						</h1>
						
						<p>
						Graduating from high school in 2002, Brock went to Arizona State University to study his lifelong love of architecture but the summer before junior year he was in a near-fatal car accident.  Required to stay in Indianapolis for therapy and discouraged with what architecture school had become, Brock attended Herron school of art and rediscovered his second love, painting.
						</p>
				</div>
			</article>
		</div>
		{% include footer.html %}
		<script src="/docs/js/iphone.js"></script>
	</body> 
</html>

<!--
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
-->