---
title: Home
layout: home
---
	<body id="index">
		<div class="wrapper">
			<article class="d-showgrid d-all">
				{% include header.html %}
					<img src="/img/logo.jpg" title="Brock Cagann" id="banner" class="d-all t-all p-all s-all d-clear t-clear">
				<div id="content" class="section columns d-all t-all p-all s-all">
					<p class="columns pb2 p-padinfull s-padinfull d-clear t-clear">
					Graduating from high school in 2002, Brock went to Arizona State University to study his lifelong love of architecture but the summer before junior year he was in a near-fatal car accident.  Required to stay in Indianapolis for therapy and discouraged with what architecture school had become, Brock attended Herron school of art and rediscovered his second love, painting.
					</p>
				</div>
			</article>
		</div>
		{% include footer.html %}
		<script src="/docs/js/iphone.js"></script>
		<script src="/js/gridset-overlay.js"></script>	
		<script>
			var nav = responsiveNav(".nav-collapse", {
			    animate: true,
			    transition: 250,
			    label: "☰",
			    navClass: "nav-collapse",
			});
		</script>
	</body> 
</html>

<!--
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
-->