<nav class="nav-collapse d3-d5 t1-t5">
	<ul id="navigation">
		<em>
			<li class="navlink nav p-1 s-1"><a href="/">Home</a></li>
			<li class="navlink nav p-2 s-2"><a href="/portfolio/" title="Portfolio">Portfolio</a></li>
			<li class="navlink nav p-1 s-1"><a href="/info/" title="Information">Information</a></li>
			<li class="navlink nav p-2 s-2"><a href="/events/" title="Events">Events</a></li>
			<li class="navlink nav p-1 s-1"><a href="/elsewhere/" title="Elsewhere">Elsewhere</a></li>
		</em>
	</ul>
</nav>