<nav class="nav-collapse d3-d5 t1-t5">
	<ul id="navigation">
		<em>
			<li class="navlink nav p-1 s-1"><a href="/" target="_self">Home</a></li>
			<li class="navlink nav p-2 s-2"><a href="/portfolio/" title="Portfolio" target="_self">Portfolio</a></li>
			<li class="navlink nav p-1 s-1"><a href="/info/" title="Information" target="_self">Information</a></li>
			<li class="navlink nav p-2 s-2"><a href="/events/" title="Events" target="_self">Events</a></li>
			<li class="navlink nav p-1 s-1"><a href="/elsewhere/" title="Elsewhere" target="_self">Elsewhere</a></li>
		</em>
	</ul>
</nav>