---
title: Portfolio
layout: portfolio
---
	<div id="content" class="section-clear d-all t-all p-padinfull s-padinfull">
		<ul id="filters" class="d2-d4 t2-t4 p-padinfull s-padinfull d-clear t-clear add-bottom">
			<li class="d2 t2"><a href="#" data-filter="*">show all</a></li>
			<li class="d3 t3"><a href="#" data-filter=".watercolor">watercolor</a></li>
			<li class="d4 t4"><a href="#" data-filter=".oil">oil</a></li>
		</ul>
		<ul class="project-list d-all t-all p-padinfull s-padinfull d-padin" id="pieces">
			{% for post in site.categories.portfolio %}
				<li class="{{ post.tags }} piece">
					<div class="{{ post.tags }} thumbnail col two">
					<a href="{{ post.url }}"><img src="{{ post.thumb }}" title="{{ post.title }}"></a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% include footer.html %}
<script src="/js/iphone.js"></script>
<script src="/js/gridset-overlay.js"></script>
</body>
</html>
<script>

$(window).load(function() {

// Tweaked from: https://gist.github.com/mattstauffer/3835881
// No guarantees
// 1. include Isotope.js
// 2. include this file
// 3. customize Isotope options at the bottom of this file
// 4. add "margin: 0 auto" to the isotope container

$.Isotope.prototype._getMasonryGutterColumns = function() {
var gutter = this.options.masonry.gutterWidth || 0;
containerWidth = this.element.parent().width();
this.masonry.columnWidth = this.options && this.options.masonry.columnWidth ||
this.$filteredAtoms.outerWidth(true) ||
containerWidth;
this.masonry.columnWidth += gutter;
this.masonry.cols = Math.floor(containerWidth / this.masonry.columnWidth);
this.masonry.cols = Math.max(this.masonry.cols, 1);
};

$.Isotope.prototype._masonryReset = function() {
this.masonry = {};
this._getMasonryGutterColumns();
var i = this.masonry.cols;
this.masonry.colYs = [];
while (i--) {
this.masonry.colYs.push( 0 );
}
};

$.Isotope.prototype._masonryResizeChanged = function() {
var prevColCount = this.masonry.cols;
this._getMasonryGutterColumns();
return ( this.masonry.cols !== prevColCount );
};

$.Isotope.prototype._masonryGetContainerSize = function() {
var gutter = this.options.masonry.gutterWidth || 0;
var unusedCols = 0,
i = this.masonry.cols;
while ( --i ) {
if ( this.masonry.colYs[i] !== 0 ) {
break;
}
unusedCols++;
}
return {
height : Math.max.apply( Math, this.masonry.colYs ),
width : ((this.masonry.cols - unusedCols) * this.masonry.columnWidth) - gutter
};
};


$('#pieces').isotope({
masonry: {
columnWidth: 308,
gutterWidth: 8
}
});

$('#pieces').isotope({ sortBy : 'random' });

// cache container
var $container = $('#pieces');

// filter items when filter link is clicked
$('#filters a').click(function(){
var selector = $(this).attr('data-filter');
$container.isotope({ filter: selector });
return false;
});

});

</script>